.vscode/
*.DS_Store*
pyecl_inputs/
test_xsuite.py 
logfile.txt 
LHC_chm_ver.mat
test.py
drift_sim/
testmod.py
test_multibunch_beam.py
compare/*.npy
compare/*.npz
compare/pyhtvsxs
*.code-workspace
*.prof
compare/*out*
*__pycache__*
*_testfiles*
*.pkl*
*.egg-info/
tests/**/*.h5
tests/**/*.json
tests/**/*.png
tests/**/*.txt
tests/**/*.sta
tests/**/old_*